BiblioLivri.View/Service References/CAutor/CAutor1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BiblioLivri.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BiblioLivri.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TBAutor">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuNacionalidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AuNome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AuSobrenome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_autor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TBAutor" nillable="true" type="tns:TBAutor" />
  <xs:complexType name="ArrayOfTBAutor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TBAutor" nillable="true" type="tns:TBAutor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTBAutor" nillable="true" type="tns:ArrayOfTBAutor" />
</xs:schema>