BiblioLivri.View/Service References/CItemEmprestimo/CItemEmprestimo1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BiblioLivri.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BiblioLivri.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TBItemEmprestimo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ItemDataEmprestimo" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ItemNumCopia" type="xs:int" />
      <xs:element minOccurs="0" name="ItemNumEmprestimo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TBItemEmprestimo" nillable="true" type="tns:TBItemEmprestimo" />
  <xs:complexType name="ArrayOfTBItemEmprestimo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TBItemEmprestimo" nillable="true" type="tns:TBItemEmprestimo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTBItemEmprestimo" nillable="true" type="tns:ArrayOfTBItemEmprestimo" />
</xs:schema>