BiblioLivri.View/Service References/CItemEmprestimo/CItemEmprestimo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CItemEmprestimo" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:26772/CItemEmprestimo.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:26772/CItemEmprestimo.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:26772/CItemEmprestimo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BiblioLivri.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICItemEmprestimo_Incluir_InputMessage">
    <wsdl:part name="parameters" element="tns:Incluir" />
  </wsdl:message>
  <wsdl:message name="ICItemEmprestimo_Incluir_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncluirResponse" />
  </wsdl:message>
  <wsdl:message name="ICItemEmprestimo_IncluirTodos_InputMessage">
    <wsdl:part name="parameters" element="tns:IncluirTodos" />
  </wsdl:message>
  <wsdl:message name="ICItemEmprestimo_IncluirTodos_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncluirTodosResponse" />
  </wsdl:message>
  <wsdl:message name="ICItemEmprestimo_SelecionaPK_InputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaPK" />
  </wsdl:message>
  <wsdl:message name="ICItemEmprestimo_SelecionaPK_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaPKResponse" />
  </wsdl:message>
  <wsdl:message name="ICItemEmprestimo_SelecionaTodos_InputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaTodos" />
  </wsdl:message>
  <wsdl:message name="ICItemEmprestimo_SelecionaTodos_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaTodosResponse" />
  </wsdl:message>
  <wsdl:message name="ICItemEmprestimo_SelecionaTodosCriterio_InputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaTodosCriterio" />
  </wsdl:message>
  <wsdl:message name="ICItemEmprestimo_SelecionaTodosCriterio_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaTodosCriterioResponse" />
  </wsdl:message>
  <wsdl:portType name="ICItemEmprestimo">
    <wsdl:operation name="Incluir">
      <wsdl:input wsaw:Action="http://tempuri.org/ICItemEmprestimo/Incluir" message="tns:ICItemEmprestimo_Incluir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICItemEmprestimo/IncluirResponse" message="tns:ICItemEmprestimo_Incluir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IncluirTodos">
      <wsdl:input wsaw:Action="http://tempuri.org/ICItemEmprestimo/IncluirTodos" message="tns:ICItemEmprestimo_IncluirTodos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICItemEmprestimo/IncluirTodosResponse" message="tns:ICItemEmprestimo_IncluirTodos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelecionaPK">
      <wsdl:input wsaw:Action="http://tempuri.org/ICItemEmprestimo/SelecionaPK" message="tns:ICItemEmprestimo_SelecionaPK_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICItemEmprestimo/SelecionaPKResponse" message="tns:ICItemEmprestimo_SelecionaPK_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelecionaTodos">
      <wsdl:input wsaw:Action="http://tempuri.org/ICItemEmprestimo/SelecionaTodos" message="tns:ICItemEmprestimo_SelecionaTodos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICItemEmprestimo/SelecionaTodosResponse" message="tns:ICItemEmprestimo_SelecionaTodos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelecionaTodosCriterio">
      <wsdl:input wsaw:Action="http://tempuri.org/ICItemEmprestimo/SelecionaTodosCriterio" message="tns:ICItemEmprestimo_SelecionaTodosCriterio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICItemEmprestimo/SelecionaTodosCriterioResponse" message="tns:ICItemEmprestimo_SelecionaTodosCriterio_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICItemEmprestimo" type="tns:ICItemEmprestimo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Incluir">
      <soap:operation soapAction="http://tempuri.org/ICItemEmprestimo/Incluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncluirTodos">
      <soap:operation soapAction="http://tempuri.org/ICItemEmprestimo/IncluirTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelecionaPK">
      <soap:operation soapAction="http://tempuri.org/ICItemEmprestimo/SelecionaPK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelecionaTodos">
      <soap:operation soapAction="http://tempuri.org/ICItemEmprestimo/SelecionaTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelecionaTodosCriterio">
      <soap:operation soapAction="http://tempuri.org/ICItemEmprestimo/SelecionaTodosCriterio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CItemEmprestimo">
    <wsdl:port name="BasicHttpBinding_ICItemEmprestimo" binding="tns:BasicHttpBinding_ICItemEmprestimo">
      <soap:address location="http://localhost:26772/CItemEmprestimo.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>