BiblioLivri.View/Service References/CPeriodico/CPeriodico1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BiblioLivri.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BiblioLivri.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TBPeriodico">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReAno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReISSN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReIdioma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReMes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReNumPaginas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RePais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReTipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReTitulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_Editora" type="xs:int" />
      <xs:element minOccurs="0" name="id_revista" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TBPeriodico" nillable="true" type="tns:TBPeriodico" />
  <xs:complexType name="ArrayOfTBPeriodico">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TBPeriodico" nillable="true" type="tns:TBPeriodico" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTBPeriodico" nillable="true" type="tns:ArrayOfTBPeriodico" />
</xs:schema>