BiblioLivri.View/Service References/CDoacao/CDoacao.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BiblioLivri.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BiblioLivri.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TBDoacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="DoNumClienteDoador" type="xs:int" />
      <xs:element minOccurs="0" name="DoNumDoacao" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TBDoacao" nillable="true" type="tns:TBDoacao" />
  <xs:complexType name="ArrayOfTBDoacao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TBDoacao" nillable="true" type="tns:TBDoacao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTBDoacao" nillable="true" type="tns:ArrayOfTBDoacao" />
</xs:schema>