BiblioLivri.View/Service References/CCliente/CCliente2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BiblioLivri.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BiblioLivri.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TBCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="CliCEP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CliCPF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CliCelular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CliCidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CliComplemento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CliEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CliEstado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CliNome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CliNumero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CliPais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CliSaldo" type="xs:double" />
      <xs:element minOccurs="0" name="CliSobrenome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CliTelefone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_cliente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TBCliente" nillable="true" type="tns:TBCliente" />
  <xs:complexType name="ArrayOfTBCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TBCliente" nillable="true" type="tns:TBCliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTBCliente" nillable="true" type="tns:ArrayOfTBCliente" />
</xs:schema>