BiblioLivri.View/Service References/CCliente/CCliente2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BiblioLivri.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BiblioLivri.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TBCliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="CliCEP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CliCPF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CliCelular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CliCidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CliComplemento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CliEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CliEstado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CliNome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CliNumero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CliPais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CliSaldo" type="xs:double" />
      <xs:element minOccurs="0" name="CliSobrenome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CliTelefone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TBEmprestimoFilmes" nillable="true" type="tns:ArrayOfTBEmprestimoFilme" />
      <xs:element minOccurs="0" name="TBEmprestimoLivros" nillable="true" type="tns:ArrayOfTBEmprestimoLivro" />
      <xs:element minOccurs="0" name="TBEmprestimoRevistas" nillable="true" type="tns:ArrayOfTBEmprestimoRevista" />
      <xs:element minOccurs="0" name="TBVendaFilmes" nillable="true" type="tns:ArrayOfTBVendaFilme" />
      <xs:element minOccurs="0" name="TBVendaLivros" nillable="true" type="tns:ArrayOfTBVendaLivro" />
      <xs:element minOccurs="0" name="TBVendaLivros1" nillable="true" type="tns:ArrayOfTBVendaLivro" />
      <xs:element minOccurs="0" name="TBVendaRevistas" nillable="true" type="tns:ArrayOfTBVendaRevista" />
      <xs:element minOccurs="0" name="id_cliente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TBCliente" nillable="true" type="tns:TBCliente" />
  <xs:complexType name="ArrayOfTBEmprestimoFilme">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TBEmprestimoFilme" nillable="true" type="tns:TBEmprestimoFilme" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTBEmprestimoFilme" nillable="true" type="tns:ArrayOfTBEmprestimoFilme" />
  <xs:complexType name="TBEmprestimoFilme">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataDevolucao" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TBCliente" nillable="true" type="tns:TBCliente" />
      <xs:element minOccurs="0" name="TBCliente1" nillable="true" type="tns:TBCliente1" />
      <xs:element minOccurs="0" name="TBFuncionario" nillable="true" type="tns:TBFuncionario" />
      <xs:element minOccurs="0" name="TBItensEmprestimoFilmes" nillable="true" type="tns:ArrayOfTBItensEmprestimoFilme" />
      <xs:element minOccurs="0" name="id_atendente" type="xs:int" />
      <xs:element minOccurs="0" name="id_cliente" type="xs:int" />
      <xs:element minOccurs="0" name="num_Emprestimo_Filme" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TBEmprestimoFilme" nillable="true" type="tns:TBEmprestimoFilme" />
  <xs:complexType name="TBCliente1">
    <xs:sequence>
      <xs:element minOccurs="0" name="CliCEP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CliCPF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CliCelular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CliCidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CliComplemento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CliEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CliEstado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CliNome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CliNumero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CliPais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CliSaldo" type="xs:double" />
      <xs:element minOccurs="0" name="CliSobrenome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CliTelefone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TBEmprestimoFilmes" nillable="true" type="tns:ArrayOfTBEmprestimoFilme" />
      <xs:element minOccurs="0" name="TBEmprestimoLivros" nillable="true" type="tns:ArrayOfTBEmprestimoLivro" />
      <xs:element minOccurs="0" name="TBEmprestimoRevistas" nillable="true" type="tns:ArrayOfTBEmprestimoRevista" />
      <xs:element minOccurs="0" name="TBVendaFilmes" nillable="true" type="tns:ArrayOfTBVendaFilme" />
      <xs:element minOccurs="0" name="TBVendaLivros" nillable="true" type="tns:ArrayOfTBVendaLivro" />
      <xs:element minOccurs="0" name="TBVendaLivros1" nillable="true" type="tns:ArrayOfTBVendaLivro" />
      <xs:element minOccurs="0" name="TBVendaRevistas" nillable="true" type="tns:ArrayOfTBVendaRevista" />
      <xs:element minOccurs="0" name="id_cliente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TBCliente1" nillable="true" type="tns:TBCliente1" />
  <xs:complexType name="ArrayOfTBEmprestimoLivro">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TBEmprestimoLivro" nillable="true" type="tns:TBEmprestimoLivro" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTBEmprestimoLivro" nillable="true" type="tns:ArrayOfTBEmprestimoLivro" />
  <xs:complexType name="TBEmprestimoLivro">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataDevolucao" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TBCliente" nillable="true" type="tns:TBCliente" />
      <xs:element minOccurs="0" name="TBCliente1" nillable="true" type="tns:TBCliente1" />
      <xs:element minOccurs="0" name="TBFuncionario" nillable="true" type="tns:TBFuncionario" />
      <xs:element minOccurs="0" name="TBItensEmprestimoLivros" nillable="true" type="tns:ArrayOfTBItensEmprestimoLivro" />
      <xs:element minOccurs="0" name="id_atendente" type="xs:int" />
      <xs:element minOccurs="0" name="id_cliente" type="xs:int" />
      <xs:element minOccurs="0" name="num_Emprestimo_Livro" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TBEmprestimoLivro" nillable="true" type="tns:TBEmprestimoLivro" />
  <xs:complexType name="TBFuncionario">
    <xs:sequence>
      <xs:element minOccurs="0" name="FunCEP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FunCPF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FunCelular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FunCidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FunComplemento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FunEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FunEstado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FunNome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FunNumero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FunPIS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FunPais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FunSalDesconto" type="xs:double" />
      <xs:element minOccurs="0" name="FunSalario" type="xs:double" />
      <xs:element minOccurs="0" name="FunSobrenome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FunTelefone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TBEmprestimoFilmes" nillable="true" type="tns:ArrayOfTBEmprestimoFilme" />
      <xs:element minOccurs="0" name="TBEmprestimoLivros" nillable="true" type="tns:ArrayOfTBEmprestimoLivro" />
      <xs:element minOccurs="0" name="TBEmprestimoRevistas" nillable="true" type="tns:ArrayOfTBEmprestimoRevista" />
      <xs:element minOccurs="0" name="TBVendaLivros" nillable="true" type="tns:ArrayOfTBVendaLivro" />
      <xs:element minOccurs="0" name="TBVendaRevistas" nillable="true" type="tns:ArrayOfTBVendaRevista" />
      <xs:element minOccurs="0" name="id_funcionario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TBFuncionario" nillable="true" type="tns:TBFuncionario" />
  <xs:complexType name="ArrayOfTBEmprestimoRevista">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TBEmprestimoRevista" nillable="true" type="tns:TBEmprestimoRevista" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTBEmprestimoRevista" nillable="true" type="tns:ArrayOfTBEmprestimoRevista" />
  <xs:complexType name="TBEmprestimoRevista">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataDevolucao" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TBCliente" nillable="true" type="tns:TBCliente" />
      <xs:element minOccurs="0" name="TBCliente1" nillable="true" type="tns:TBCliente1" />
      <xs:element minOccurs="0" name="TBFuncionario" nillable="true" type="tns:TBFuncionario" />
      <xs:element minOccurs="0" name="TBItensEmprestimoRevistas" nillable="true" type="tns:ArrayOfTBItensEmprestimoRevista" />
      <xs:element minOccurs="0" name="id_atendente" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="id_cliente" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="num_Emprestimo_Revista" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TBEmprestimoRevista" nillable="true" type="tns:TBEmprestimoRevista" />
  <xs:complexType name="ArrayOfTBItensEmprestimoRevista">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TBItensEmprestimoRevista" nillable="true" type="tns:TBItensEmprestimoRevista" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTBItensEmprestimoRevista" nillable="true" type="tns:ArrayOfTBItensEmprestimoRevista" />
  <xs:complexType name="TBItensEmprestimoRevista">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Quantidade" type="xs:int" />
      <xs:element minOccurs="0" name="TBEmprestimoRevista" nillable="true" type="tns:TBEmprestimoRevista" />
      <xs:element minOccurs="0" name="TBPeriodico" nillable="true" type="tns:TBPeriodico" />
      <xs:element minOccurs="0" name="id_Acervo" type="xs:int" />
      <xs:element minOccurs="0" name="num_Emprestimo_Revista" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TBItensEmprestimoRevista" nillable="true" type="tns:TBItensEmprestimoRevista" />
  <xs:complexType name="TBPeriodico">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReAno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReISSN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReIdioma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReMes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReNumPaginas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RePais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReTipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReTitulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TBItensEmprestimoRevistas" nillable="true" type="tns:ArrayOfTBItensEmprestimoRevista" />
      <xs:element minOccurs="0" name="TBItensVendaRevistas" nillable="true" type="tns:ArrayOfTBItensVendaRevista" />
      <xs:element minOccurs="0" name="id_Editora" type="xs:int" />
      <xs:element minOccurs="0" name="id_revista" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TBPeriodico" nillable="true" type="tns:TBPeriodico" />
  <xs:complexType name="ArrayOfTBItensVendaRevista">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TBItensVendaRevista" nillable="true" type="tns:TBItensVendaRevista" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTBItensVendaRevista" nillable="true" type="tns:ArrayOfTBItensVendaRevista" />
  <xs:complexType name="TBItensVendaRevista">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Quantidade" type="xs:int" />
      <xs:element minOccurs="0" name="TBPeriodico" nillable="true" type="tns:TBPeriodico" />
      <xs:element minOccurs="0" name="TBVendaRevista" nillable="true" type="tns:TBVendaRevista" />
      <xs:element minOccurs="0" name="id_Acervo" type="xs:int" />
      <xs:element minOccurs="0" name="num_Venda_Revista" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TBItensVendaRevista" nillable="true" type="tns:TBItensVendaRevista" />
  <xs:complexType name="TBVendaRevista">
    <xs:sequence>
      <xs:element minOccurs="0" name="TBCliente" nillable="true" type="tns:TBCliente" />
      <xs:element minOccurs="0" name="TBCliente1" nillable="true" type="tns:TBCliente1" />
      <xs:element minOccurs="0" name="TBFuncionario" nillable="true" type="tns:TBFuncionario" />
      <xs:element minOccurs="0" name="TBItensVendaRevistas" nillable="true" type="tns:ArrayOfTBItensVendaRevista" />
      <xs:element minOccurs="0" name="id_atendente" type="xs:int" />
      <xs:element minOccurs="0" name="id_cliente" type="xs:int" />
      <xs:element minOccurs="0" name="num_Venda_Revista" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TBVendaRevista" nillable="true" type="tns:TBVendaRevista" />
  <xs:complexType name="ArrayOfTBVendaLivro">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TBVendaLivro" nillable="true" type="tns:TBVendaLivro" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTBVendaLivro" nillable="true" type="tns:ArrayOfTBVendaLivro" />
  <xs:complexType name="TBVendaLivro">
    <xs:sequence>
      <xs:element minOccurs="0" name="TBCliente" nillable="true" type="tns:TBCliente" />
      <xs:element minOccurs="0" name="TBCliente1" nillable="true" type="tns:TBCliente1" />
      <xs:element minOccurs="0" name="TBCliente11" nillable="true" type="tns:TBCliente1" />
      <xs:element minOccurs="0" name="TBCliente2" nillable="true" type="tns:TBCliente" />
      <xs:element minOccurs="0" name="TBFuncionario" nillable="true" type="tns:TBFuncionario" />
      <xs:element minOccurs="0" name="TBItensVendaLivros" nillable="true" type="tns:ArrayOfTBItensVendaLivro" />
      <xs:element minOccurs="0" name="id_atendente" type="xs:int" />
      <xs:element minOccurs="0" name="id_cliente" type="xs:int" />
      <xs:element minOccurs="0" name="num_Venda_Livro" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TBVendaLivro" nillable="true" type="tns:TBVendaLivro" />
  <xs:complexType name="ArrayOfTBItensVendaLivro">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TBItensVendaLivro" nillable="true" type="tns:TBItensVendaLivro" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTBItensVendaLivro" nillable="true" type="tns:ArrayOfTBItensVendaLivro" />
  <xs:complexType name="TBItensVendaLivro">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Quantidade" type="xs:int" />
      <xs:element minOccurs="0" name="TBLivro" nillable="true" type="tns:TBLivro" />
      <xs:element minOccurs="0" name="TBVendaLivro" nillable="true" type="tns:TBVendaLivro" />
      <xs:element minOccurs="0" name="id_Acervo" type="xs:int" />
      <xs:element minOccurs="0" name="num_Venda_Livro" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TBItensVendaLivro" nillable="true" type="tns:TBItensVendaLivro" />
  <xs:complexType name="TBLivro">
    <xs:sequence>
      <xs:element minOccurs="0" name="LiAno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LiCDU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LiISBN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LiIdioma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LiNumPaginas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LiPais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LiTitulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TBAutor" nillable="true" type="tns:TBAutor" />
      <xs:element minOccurs="0" name="TBEditora" nillable="true" type="tns:TBEditora" />
      <xs:element minOccurs="0" name="TBItensEmprestimoLivros" nillable="true" type="tns:ArrayOfTBItensEmprestimoLivro" />
      <xs:element minOccurs="0" name="TBItensVendaLivros" nillable="true" type="tns:ArrayOfTBItensVendaLivro" />
      <xs:element minOccurs="0" name="id_Autor" type="xs:int" />
      <xs:element minOccurs="0" name="id_CoAutor" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="id_Editora" type="xs:int" />
      <xs:element minOccurs="0" name="id_Genero" type="xs:int" />
      <xs:element minOccurs="0" name="id_Livro" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TBLivro" nillable="true" type="tns:TBLivro" />
  <xs:complexType name="TBAutor">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuNacionalidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AuNome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AuSobrenome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TBFilmes" nillable="true" type="tns:ArrayOfTBFilme" />
      <xs:element minOccurs="0" name="TBLivros" nillable="true" type="tns:ArrayOfTBLivro" />
      <xs:element minOccurs="0" name="id_Autor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TBAutor" nillable="true" type="tns:TBAutor" />
  <xs:complexType name="ArrayOfTBFilme">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TBFilme" nillable="true" type="tns:TBFilme" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTBFilme" nillable="true" type="tns:ArrayOfTBFilme" />
  <xs:complexType name="TBFilme">
    <xs:sequence>
      <xs:element minOccurs="0" name="FilAno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FilDescricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FilDuracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FilIdioma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FilPais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FilTitulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TBAutor" nillable="true" type="tns:TBAutor" />
      <xs:element minOccurs="0" name="TBGenero" nillable="true" type="tns:TBGenero" />
      <xs:element minOccurs="0" name="TBItensEmprestimoFilmes" nillable="true" type="tns:ArrayOfTBItensEmprestimoFilme" />
      <xs:element minOccurs="0" name="TBItensVendaFilmes" nillable="true" type="tns:ArrayOfTBItensVendaFilme" />
      <xs:element minOccurs="0" name="TBMidia" nillable="true" type="tns:TBMidia" />
      <xs:element minOccurs="0" name="id_Diretor" type="xs:int" />
      <xs:element minOccurs="0" name="id_Filme" type="xs:int" />
      <xs:element minOccurs="0" name="id_Genero" type="xs:int" />
      <xs:element minOccurs="0" name="id_Midia" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TBFilme" nillable="true" type="tns:TBFilme" />
  <xs:complexType name="TBGenero">
    <xs:sequence>
      <xs:element minOccurs="0" name="GeDescricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TBFilmes" nillable="true" type="tns:ArrayOfTBFilme" />
      <xs:element minOccurs="0" name="id_genero" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TBGenero" nillable="true" type="tns:TBGenero" />
  <xs:complexType name="ArrayOfTBItensEmprestimoFilme">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TBItensEmprestimoFilme" nillable="true" type="tns:TBItensEmprestimoFilme" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTBItensEmprestimoFilme" nillable="true" type="tns:ArrayOfTBItensEmprestimoFilme" />
  <xs:complexType name="TBItensEmprestimoFilme">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Quantidade" type="xs:int" />
      <xs:element minOccurs="0" name="TBEmprestimoFilme" nillable="true" type="tns:TBEmprestimoFilme" />
      <xs:element minOccurs="0" name="TBFilme" nillable="true" type="tns:TBFilme" />
      <xs:element minOccurs="0" name="id_Acervo" type="xs:int" />
      <xs:element minOccurs="0" name="num_Emprestimo_Filme" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TBItensEmprestimoFilme" nillable="true" type="tns:TBItensEmprestimoFilme" />
  <xs:complexType name="ArrayOfTBItensVendaFilme">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TBItensVendaFilme" nillable="true" type="tns:TBItensVendaFilme" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTBItensVendaFilme" nillable="true" type="tns:ArrayOfTBItensVendaFilme" />
  <xs:complexType name="TBItensVendaFilme">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Quantidade" type="xs:int" />
      <xs:element minOccurs="0" name="TBFilme" nillable="true" type="tns:TBFilme" />
      <xs:element minOccurs="0" name="TBVendaFilme" nillable="true" type="tns:TBVendaFilme" />
      <xs:element minOccurs="0" name="id_Acervo" type="xs:int" />
      <xs:element minOccurs="0" name="num_Venda_Filme" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TBItensVendaFilme" nillable="true" type="tns:TBItensVendaFilme" />
  <xs:complexType name="TBVendaFilme">
    <xs:sequence>
      <xs:element minOccurs="0" name="TBCliente" nillable="true" type="tns:TBCliente" />
      <xs:element minOccurs="0" name="TBCliente1" nillable="true" type="tns:TBCliente1" />
      <xs:element minOccurs="0" name="TBItensVendaFilmes" nillable="true" type="tns:ArrayOfTBItensVendaFilme" />
      <xs:element minOccurs="0" name="id_atendente" type="xs:int" />
      <xs:element minOccurs="0" name="id_cliente" type="xs:int" />
      <xs:element minOccurs="0" name="num_Venda_Filme" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TBVendaFilme" nillable="true" type="tns:TBVendaFilme" />
  <xs:complexType name="TBMidia">
    <xs:sequence>
      <xs:element minOccurs="0" name="MiTipoMidia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TBFilmes" nillable="true" type="tns:ArrayOfTBFilme" />
      <xs:element minOccurs="0" name="id_Midia" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TBMidia" nillable="true" type="tns:TBMidia" />
  <xs:complexType name="ArrayOfTBLivro">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TBLivro" nillable="true" type="tns:TBLivro" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTBLivro" nillable="true" type="tns:ArrayOfTBLivro" />
  <xs:complexType name="TBEditora">
    <xs:sequence>
      <xs:element minOccurs="0" name="EdNome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TBLivros" nillable="true" type="tns:ArrayOfTBLivro" />
      <xs:element minOccurs="0" name="id_Editora" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TBEditora" nillable="true" type="tns:TBEditora" />
  <xs:complexType name="ArrayOfTBItensEmprestimoLivro">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TBItensEmprestimoLivro" nillable="true" type="tns:TBItensEmprestimoLivro" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTBItensEmprestimoLivro" nillable="true" type="tns:ArrayOfTBItensEmprestimoLivro" />
  <xs:complexType name="TBItensEmprestimoLivro">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Quantidade" type="xs:int" />
      <xs:element minOccurs="0" name="TBEmprestimoLivro" nillable="true" type="tns:TBEmprestimoLivro" />
      <xs:element minOccurs="0" name="TBLivro" nillable="true" type="tns:TBLivro" />
      <xs:element minOccurs="0" name="id_Acervo" type="xs:int" />
      <xs:element minOccurs="0" name="num_Emprestimo_Livro" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TBItensEmprestimoLivro" nillable="true" type="tns:TBItensEmprestimoLivro" />
  <xs:complexType name="ArrayOfTBVendaRevista">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TBVendaRevista" nillable="true" type="tns:TBVendaRevista" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTBVendaRevista" nillable="true" type="tns:ArrayOfTBVendaRevista" />
  <xs:complexType name="ArrayOfTBVendaFilme">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TBVendaFilme" nillable="true" type="tns:TBVendaFilme" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTBVendaFilme" nillable="true" type="tns:ArrayOfTBVendaFilme" />
  <xs:complexType name="ArrayOfTBCliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TBCliente" nillable="true" type="tns:TBCliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTBCliente" nillable="true" type="tns:ArrayOfTBCliente" />
</xs:schema>