BiblioLivri.View/Service References/CCliente/CCliente.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:26772/CCliente.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BiblioLivri.Model" />
  <xs:element name="Incluir">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BiblioLivri.Model" minOccurs="0" name="oCliente" nillable="true" type="q1:TBCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Alterar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BiblioLivri.Model" minOccurs="0" name="oCliente" nillable="true" type="q2:TBCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Excluir">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BiblioLivri.Model" minOccurs="0" name="oCliente" nillable="true" type="q3:TBCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionaPK">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionaPKResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BiblioLivri.Model" minOccurs="0" name="SelecionaPKResult" nillable="true" type="q4:TBCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionaTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionaTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BiblioLivri.Model" minOccurs="0" name="SelecionaTodosResult" nillable="true" type="q5:ArrayOfTBCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionaTodosConsulta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Criteria" type="xs:int" />
        <xs:element minOccurs="0" name="Criterio" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionaTodosConsultaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BiblioLivri.Model" minOccurs="0" name="SelecionaTodosConsultaResult" nillable="true" type="q6:ArrayOfTBCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaCPF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CPF" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaCPFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidaCPFResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>