BiblioLivri.View/Service References/CCliente/CCliente.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CCliente" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:26772/CCliente.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:26772/CCliente.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:26772/CCliente.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BiblioLivri.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICCliente_Incluir_InputMessage">
    <wsdl:part name="parameters" element="tns:Incluir" />
  </wsdl:message>
  <wsdl:message name="ICCliente_Incluir_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncluirResponse" />
  </wsdl:message>
  <wsdl:message name="ICCliente_Alterar_InputMessage">
    <wsdl:part name="parameters" element="tns:Alterar" />
  </wsdl:message>
  <wsdl:message name="ICCliente_Alterar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarResponse" />
  </wsdl:message>
  <wsdl:message name="ICCliente_Excluir_InputMessage">
    <wsdl:part name="parameters" element="tns:Excluir" />
  </wsdl:message>
  <wsdl:message name="ICCliente_Excluir_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirResponse" />
  </wsdl:message>
  <wsdl:message name="ICCliente_SelecionaPK_InputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaPK" />
  </wsdl:message>
  <wsdl:message name="ICCliente_SelecionaPK_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaPKResponse" />
  </wsdl:message>
  <wsdl:message name="ICCliente_SelecionaTodos_InputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaTodos" />
  </wsdl:message>
  <wsdl:message name="ICCliente_SelecionaTodos_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaTodosResponse" />
  </wsdl:message>
  <wsdl:message name="ICCliente_SelecionaTodosConsulta_InputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaTodosConsulta" />
  </wsdl:message>
  <wsdl:message name="ICCliente_SelecionaTodosConsulta_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaTodosConsultaResponse" />
  </wsdl:message>
  <wsdl:message name="ICCliente_ValidaCPF_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidaCPF" />
  </wsdl:message>
  <wsdl:message name="ICCliente_ValidaCPF_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidaCPFResponse" />
  </wsdl:message>
  <wsdl:portType name="ICCliente">
    <wsdl:operation name="Incluir">
      <wsdl:input wsaw:Action="http://tempuri.org/ICCliente/Incluir" message="tns:ICCliente_Incluir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCliente/IncluirResponse" message="tns:ICCliente_Incluir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Alterar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICCliente/Alterar" message="tns:ICCliente_Alterar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCliente/AlterarResponse" message="tns:ICCliente_Alterar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <wsdl:input wsaw:Action="http://tempuri.org/ICCliente/Excluir" message="tns:ICCliente_Excluir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCliente/ExcluirResponse" message="tns:ICCliente_Excluir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelecionaPK">
      <wsdl:input wsaw:Action="http://tempuri.org/ICCliente/SelecionaPK" message="tns:ICCliente_SelecionaPK_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCliente/SelecionaPKResponse" message="tns:ICCliente_SelecionaPK_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelecionaTodos">
      <wsdl:input wsaw:Action="http://tempuri.org/ICCliente/SelecionaTodos" message="tns:ICCliente_SelecionaTodos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCliente/SelecionaTodosResponse" message="tns:ICCliente_SelecionaTodos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelecionaTodosConsulta">
      <wsdl:input wsaw:Action="http://tempuri.org/ICCliente/SelecionaTodosConsulta" message="tns:ICCliente_SelecionaTodosConsulta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCliente/SelecionaTodosConsultaResponse" message="tns:ICCliente_SelecionaTodosConsulta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidaCPF">
      <wsdl:input wsaw:Action="http://tempuri.org/ICCliente/ValidaCPF" message="tns:ICCliente_ValidaCPF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICCliente/ValidaCPFResponse" message="tns:ICCliente_ValidaCPF_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICCliente" type="tns:ICCliente">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Incluir">
      <soap:operation soapAction="http://tempuri.org/ICCliente/Incluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Alterar">
      <soap:operation soapAction="http://tempuri.org/ICCliente/Alterar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <soap:operation soapAction="http://tempuri.org/ICCliente/Excluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelecionaPK">
      <soap:operation soapAction="http://tempuri.org/ICCliente/SelecionaPK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelecionaTodos">
      <soap:operation soapAction="http://tempuri.org/ICCliente/SelecionaTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelecionaTodosConsulta">
      <soap:operation soapAction="http://tempuri.org/ICCliente/SelecionaTodosConsulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidaCPF">
      <soap:operation soapAction="http://tempuri.org/ICCliente/ValidaCPF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CCliente">
    <wsdl:port name="BasicHttpBinding_ICCliente" binding="tns:BasicHttpBinding_ICCliente">
      <soap:address location="http://localhost:26772/CCliente.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>