BiblioLivri.View/Service References/CItemDoacao/CItemDoacao2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:26772/CItemDoacao.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BiblioLivri.Model" />
  <xs:element name="Incluir">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BiblioLivri.Model" minOccurs="0" name="oDoacao" nillable="true" type="q1:TBItemDoacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirTodos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BiblioLivri.Model" minOccurs="0" name="oDoacao" nillable="true" type="q2:ArrayOfTBItemDoacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncluirTodosResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionaPK">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionaPKResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BiblioLivri.Model" minOccurs="0" name="SelecionaPKResult" nillable="true" type="q3:TBItemDoacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionaTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionaTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BiblioLivri.Model" minOccurs="0" name="SelecionaTodosResult" nillable="true" type="q4:ArrayOfTBItemDoacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionaTodosCriterio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecionaTodosCriterioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BiblioLivri.Model" minOccurs="0" name="SelecionaTodosCriterioResult" nillable="true" type="q5:ArrayOfTBItemDoacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>