BiblioLivri.View/Service References/CItemDoacao/CItemDoacao.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BiblioLivri.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BiblioLivri.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TBItemDoacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="ItemDataDoacao" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ItemNumCopia" type="xs:int" />
      <xs:element minOccurs="0" name="ItemNumDoacao" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TBItemDoacao" nillable="true" type="tns:TBItemDoacao" />
  <xs:complexType name="ArrayOfTBItemDoacao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TBItemDoacao" nillable="true" type="tns:TBItemDoacao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTBItemDoacao" nillable="true" type="tns:ArrayOfTBItemDoacao" />
</xs:schema>