BiblioLivri.View/Service References/CItemDoacao/CItemDoacao.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CItemDoacao" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:26772/CItemDoacao.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:26772/CItemDoacao.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:26772/CItemDoacao.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BiblioLivri.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICItemDoacao_Incluir_InputMessage">
    <wsdl:part name="parameters" element="tns:Incluir" />
  </wsdl:message>
  <wsdl:message name="ICItemDoacao_Incluir_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncluirResponse" />
  </wsdl:message>
  <wsdl:message name="ICItemDoacao_IncluirTodos_InputMessage">
    <wsdl:part name="parameters" element="tns:IncluirTodos" />
  </wsdl:message>
  <wsdl:message name="ICItemDoacao_IncluirTodos_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncluirTodosResponse" />
  </wsdl:message>
  <wsdl:message name="ICItemDoacao_SelecionaPK_InputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaPK" />
  </wsdl:message>
  <wsdl:message name="ICItemDoacao_SelecionaPK_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaPKResponse" />
  </wsdl:message>
  <wsdl:message name="ICItemDoacao_SelecionaTodos_InputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaTodos" />
  </wsdl:message>
  <wsdl:message name="ICItemDoacao_SelecionaTodos_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaTodosResponse" />
  </wsdl:message>
  <wsdl:message name="ICItemDoacao_SelecionaTodosCriterio_InputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaTodosCriterio" />
  </wsdl:message>
  <wsdl:message name="ICItemDoacao_SelecionaTodosCriterio_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaTodosCriterioResponse" />
  </wsdl:message>
  <wsdl:portType name="ICItemDoacao">
    <wsdl:operation name="Incluir">
      <wsdl:input wsaw:Action="http://tempuri.org/ICItemDoacao/Incluir" message="tns:ICItemDoacao_Incluir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICItemDoacao/IncluirResponse" message="tns:ICItemDoacao_Incluir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IncluirTodos">
      <wsdl:input wsaw:Action="http://tempuri.org/ICItemDoacao/IncluirTodos" message="tns:ICItemDoacao_IncluirTodos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICItemDoacao/IncluirTodosResponse" message="tns:ICItemDoacao_IncluirTodos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelecionaPK">
      <wsdl:input wsaw:Action="http://tempuri.org/ICItemDoacao/SelecionaPK" message="tns:ICItemDoacao_SelecionaPK_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICItemDoacao/SelecionaPKResponse" message="tns:ICItemDoacao_SelecionaPK_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelecionaTodos">
      <wsdl:input wsaw:Action="http://tempuri.org/ICItemDoacao/SelecionaTodos" message="tns:ICItemDoacao_SelecionaTodos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICItemDoacao/SelecionaTodosResponse" message="tns:ICItemDoacao_SelecionaTodos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelecionaTodosCriterio">
      <wsdl:input wsaw:Action="http://tempuri.org/ICItemDoacao/SelecionaTodosCriterio" message="tns:ICItemDoacao_SelecionaTodosCriterio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICItemDoacao/SelecionaTodosCriterioResponse" message="tns:ICItemDoacao_SelecionaTodosCriterio_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICItemDoacao" type="tns:ICItemDoacao">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Incluir">
      <soap:operation soapAction="http://tempuri.org/ICItemDoacao/Incluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncluirTodos">
      <soap:operation soapAction="http://tempuri.org/ICItemDoacao/IncluirTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelecionaPK">
      <soap:operation soapAction="http://tempuri.org/ICItemDoacao/SelecionaPK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelecionaTodos">
      <soap:operation soapAction="http://tempuri.org/ICItemDoacao/SelecionaTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelecionaTodosCriterio">
      <soap:operation soapAction="http://tempuri.org/ICItemDoacao/SelecionaTodosCriterio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CItemDoacao">
    <wsdl:port name="BasicHttpBinding_ICItemDoacao" binding="tns:BasicHttpBinding_ICItemDoacao">
      <soap:address location="http://localhost:26772/CItemDoacao.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>