BiblioLivri.View/Service References/CFuncionario/CFuncionario2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BiblioLivri.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BiblioLivri.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TBFuncionario">
    <xs:sequence>
      <xs:element minOccurs="0" name="FunCEP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FunCPF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FunCelular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FunCidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FunComplemento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FunEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FunEstado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FunNome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FunNumero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FunPIS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FunPais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FunSalDesconto" type="xs:double" />
      <xs:element minOccurs="0" name="FunSalario" type="xs:double" />
      <xs:element minOccurs="0" name="FunSobrenome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FunTelefone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_funcionario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TBFuncionario" nillable="true" type="tns:TBFuncionario" />
  <xs:complexType name="ArrayOfTBFuncionario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TBFuncionario" nillable="true" type="tns:TBFuncionario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTBFuncionario" nillable="true" type="tns:ArrayOfTBFuncionario" />
</xs:schema>