BiblioLivri.View/Service References/CCopiaLivro/CCopiaLivro1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BiblioLivri.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BiblioLivri.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TBCopiaLivro">
    <xs:sequence>
      <xs:element minOccurs="0" name="CoAno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CoEdicao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CoEmprestado" type="xs:boolean" />
      <xs:element minOccurs="0" name="CoISBN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CoIdioma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CoNumCopia" type="xs:int" />
      <xs:element minOccurs="0" name="DataAquisicao" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TBCopiaLivro" nillable="true" type="tns:TBCopiaLivro" />
  <xs:complexType name="ArrayOfTBCopiaLivro">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TBCopiaLivro" nillable="true" type="tns:TBCopiaLivro" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTBCopiaLivro" nillable="true" type="tns:ArrayOfTBCopiaLivro" />
</xs:schema>