BiblioLivri.View/Service References/CEditora/CEditora2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BiblioLivri.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BiblioLivri.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TBEditora">
    <xs:sequence>
      <xs:element minOccurs="0" name="EdNome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_Editora" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TBEditora" nillable="true" type="tns:TBEditora" />
  <xs:complexType name="ArrayOfTBEditora">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TBEditora" nillable="true" type="tns:TBEditora" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTBEditora" nillable="true" type="tns:ArrayOfTBEditora" />
</xs:schema>