BiblioLivri.View/Service References/CEditora/CEditora.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CEditora" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:26772/CEditora.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:26772/CEditora.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:26772/CEditora.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BiblioLivri.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICEditora_Incluir_InputMessage">
    <wsdl:part name="parameters" element="tns:Incluir" />
  </wsdl:message>
  <wsdl:message name="ICEditora_Incluir_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncluirResponse" />
  </wsdl:message>
  <wsdl:message name="ICEditora_Alterar_InputMessage">
    <wsdl:part name="parameters" element="tns:Alterar" />
  </wsdl:message>
  <wsdl:message name="ICEditora_Alterar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarResponse" />
  </wsdl:message>
  <wsdl:message name="ICEditora_Excluir_InputMessage">
    <wsdl:part name="parameters" element="tns:Excluir" />
  </wsdl:message>
  <wsdl:message name="ICEditora_Excluir_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirResponse" />
  </wsdl:message>
  <wsdl:message name="ICEditora_SelecionaPK_InputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaPK" />
  </wsdl:message>
  <wsdl:message name="ICEditora_SelecionaPK_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaPKResponse" />
  </wsdl:message>
  <wsdl:message name="ICEditora_SelecionaTodos_InputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaTodos" />
  </wsdl:message>
  <wsdl:message name="ICEditora_SelecionaTodos_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaTodosResponse" />
  </wsdl:message>
  <wsdl:portType name="ICEditora">
    <wsdl:operation name="Incluir">
      <wsdl:input wsaw:Action="http://tempuri.org/ICEditora/Incluir" message="tns:ICEditora_Incluir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICEditora/IncluirResponse" message="tns:ICEditora_Incluir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Alterar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICEditora/Alterar" message="tns:ICEditora_Alterar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICEditora/AlterarResponse" message="tns:ICEditora_Alterar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <wsdl:input wsaw:Action="http://tempuri.org/ICEditora/Excluir" message="tns:ICEditora_Excluir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICEditora/ExcluirResponse" message="tns:ICEditora_Excluir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelecionaPK">
      <wsdl:input wsaw:Action="http://tempuri.org/ICEditora/SelecionaPK" message="tns:ICEditora_SelecionaPK_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICEditora/SelecionaPKResponse" message="tns:ICEditora_SelecionaPK_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelecionaTodos">
      <wsdl:input wsaw:Action="http://tempuri.org/ICEditora/SelecionaTodos" message="tns:ICEditora_SelecionaTodos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICEditora/SelecionaTodosResponse" message="tns:ICEditora_SelecionaTodos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICEditora" type="tns:ICEditora">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Incluir">
      <soap:operation soapAction="http://tempuri.org/ICEditora/Incluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Alterar">
      <soap:operation soapAction="http://tempuri.org/ICEditora/Alterar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <soap:operation soapAction="http://tempuri.org/ICEditora/Excluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelecionaPK">
      <soap:operation soapAction="http://tempuri.org/ICEditora/SelecionaPK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelecionaTodos">
      <soap:operation soapAction="http://tempuri.org/ICEditora/SelecionaTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CEditora">
    <wsdl:port name="BasicHttpBinding_ICEditora" binding="tns:BasicHttpBinding_ICEditora">
      <soap:address location="http://localhost:26772/CEditora.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>