BiblioLivri.View/Service References/CFilme/CFilme2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BiblioLivri.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BiblioLivri.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TBFilme">
    <xs:sequence>
      <xs:element minOccurs="0" name="FilAno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FilCapa" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FilDescricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FilDuracao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FilIdioma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FilPais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FilTitulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_Diretor" type="xs:int" />
      <xs:element minOccurs="0" name="id_Filme" type="xs:int" />
      <xs:element minOccurs="0" name="id_Genero" type="xs:int" />
      <xs:element minOccurs="0" name="id_Midia" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TBFilme" nillable="true" type="tns:TBFilme" />
  <xs:complexType name="ArrayOfTBFilme">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TBFilme" nillable="true" type="tns:TBFilme" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTBFilme" nillable="true" type="tns:ArrayOfTBFilme" />
</xs:schema>