BiblioLivri.View/Service References/CLivro/CLivro.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CLivro" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:26772/CLivro.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:26772/CLivro.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:26772/CLivro.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BiblioLivri.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICLivro_Incluir_InputMessage">
    <wsdl:part name="parameters" element="tns:Incluir" />
  </wsdl:message>
  <wsdl:message name="ICLivro_Incluir_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncluirResponse" />
  </wsdl:message>
  <wsdl:message name="ICLivro_Alterar_InputMessage">
    <wsdl:part name="parameters" element="tns:Alterar" />
  </wsdl:message>
  <wsdl:message name="ICLivro_Alterar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarResponse" />
  </wsdl:message>
  <wsdl:message name="ICLivro_Excluir_InputMessage">
    <wsdl:part name="parameters" element="tns:Excluir" />
  </wsdl:message>
  <wsdl:message name="ICLivro_Excluir_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcluirResponse" />
  </wsdl:message>
  <wsdl:message name="ICLivro_SelecionaPK_InputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaPK" />
  </wsdl:message>
  <wsdl:message name="ICLivro_SelecionaPK_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaPKResponse" />
  </wsdl:message>
  <wsdl:message name="ICLivro_SelecionaTodos_InputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaTodos" />
  </wsdl:message>
  <wsdl:message name="ICLivro_SelecionaTodos_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecionaTodosResponse" />
  </wsdl:message>
  <wsdl:message name="ICLivro_ValidaISBN_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidaISBN" />
  </wsdl:message>
  <wsdl:message name="ICLivro_ValidaISBN_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidaISBNResponse" />
  </wsdl:message>
  <wsdl:portType name="ICLivro">
    <wsdl:operation name="Incluir">
      <wsdl:input wsaw:Action="http://tempuri.org/ICLivro/Incluir" message="tns:ICLivro_Incluir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICLivro/IncluirResponse" message="tns:ICLivro_Incluir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Alterar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICLivro/Alterar" message="tns:ICLivro_Alterar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICLivro/AlterarResponse" message="tns:ICLivro_Alterar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <wsdl:input wsaw:Action="http://tempuri.org/ICLivro/Excluir" message="tns:ICLivro_Excluir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICLivro/ExcluirResponse" message="tns:ICLivro_Excluir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelecionaPK">
      <wsdl:input wsaw:Action="http://tempuri.org/ICLivro/SelecionaPK" message="tns:ICLivro_SelecionaPK_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICLivro/SelecionaPKResponse" message="tns:ICLivro_SelecionaPK_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelecionaTodos">
      <wsdl:input wsaw:Action="http://tempuri.org/ICLivro/SelecionaTodos" message="tns:ICLivro_SelecionaTodos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICLivro/SelecionaTodosResponse" message="tns:ICLivro_SelecionaTodos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidaISBN">
      <wsdl:input wsaw:Action="http://tempuri.org/ICLivro/ValidaISBN" message="tns:ICLivro_ValidaISBN_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICLivro/ValidaISBNResponse" message="tns:ICLivro_ValidaISBN_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICLivro" type="tns:ICLivro">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Incluir">
      <soap:operation soapAction="http://tempuri.org/ICLivro/Incluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Alterar">
      <soap:operation soapAction="http://tempuri.org/ICLivro/Alterar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Excluir">
      <soap:operation soapAction="http://tempuri.org/ICLivro/Excluir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelecionaPK">
      <soap:operation soapAction="http://tempuri.org/ICLivro/SelecionaPK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelecionaTodos">
      <soap:operation soapAction="http://tempuri.org/ICLivro/SelecionaTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidaISBN">
      <soap:operation soapAction="http://tempuri.org/ICLivro/ValidaISBN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CLivro">
    <wsdl:port name="BasicHttpBinding_ICLivro" binding="tns:BasicHttpBinding_ICLivro">
      <soap:address location="http://localhost:26772/CLivro.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>