BiblioLivri.View/Service References/CLivro/CLivro1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BiblioLivri.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BiblioLivri.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:26772/CLivro.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Linq" />
  <xs:complexType name="TBLivro">
    <xs:sequence>
      <xs:element minOccurs="0" name="LiAno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LiCDU" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Linq" minOccurs="0" name="LiCapa" nillable="true" type="q1:Binary" />
      <xs:element minOccurs="0" name="LiISBN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LiIdioma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LiNumPaginas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LiPais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LiTitulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_Autor" type="xs:int" />
      <xs:element minOccurs="0" name="id_CoAutor" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="id_Editora" type="xs:int" />
      <xs:element minOccurs="0" name="id_Genero" type="xs:int" />
      <xs:element minOccurs="0" name="id_Livro" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TBLivro" nillable="true" type="tns:TBLivro" />
  <xs:complexType name="ArrayOfTBLivro">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TBLivro" nillable="true" type="tns:TBLivro" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTBLivro" nillable="true" type="tns:ArrayOfTBLivro" />
</xs:schema>