BiblioLivri.View/Service References/CLivro/CLivro1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BiblioLivri.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BiblioLivri.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TBLivro">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID_Editora" type="xs:int" />
      <xs:element minOccurs="0" name="LiCDU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LiCapa" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="LiISBN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LiPagina" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LiPais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LiTitulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_autor" type="xs:int" />
      <xs:element minOccurs="0" name="id_genero" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TBLivro" nillable="true" type="tns:TBLivro" />
  <xs:complexType name="ArrayOfTBLivro">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TBLivro" nillable="true" type="tns:TBLivro" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTBLivro" nillable="true" type="tns:ArrayOfTBLivro" />
</xs:schema>